@page "/"
@using System.Text.RegularExpressions
@using System.Web

<PageTitle>D&D Utils</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h2" Align="Align.Center">
        Dungeon and Dragon's Utilities
    </MudText>
    <MudDivider/>
    <br/>
    <MudText Typo="Typo.h4" Align="Align.Center">
        @((MarkupString)Regex.Replace(HttpUtility.HtmlEncode(_message), "\r?\n|\r", "<br />"))
    </MudText>
    <br/>
    <MudDivider></MudDivider>
    <br/>
    <MudText Typo="Typo.h4">
        <b>So, what is this site?</b>
    </MudText>
    <MudText Typo="Typo.body1">
        This site is a little side project that's turned less little the more I work on it. It started because a DM friend asked if I could write a program that could help automate some DM tools he had in Excel. I wrote it in Python and thought "Huh, this could be a cool little web app".
    </MudText>
    <MudText Typo="Typo.body1">
        The site's name sake (Skim Beeble) is a favorite NPC of the D&D group I am a part of. The quotes a the top of the page are various quotes from our sessions. 
    </MudText>
    <MudSpacer/>
    <MudText Typo="Typo.body1">
        Currently I'm the only code contributor, but I've gotten lots of great input from my D&D group. If you'd like to view the code, check it out
        <u>
            <a href="https://github.com/jamesw98/dnd-utils">here</a>
        </u>.
    </MudText>
</MudContainer>

@code {
    private Random _random = new();
    private string _message;

    private string[] _quotes =
    {
        "\"Cockroaches are generally pretty wet\"\n -  DM",
        "\"It's like sea world!\"\n -  Sandor, in reference to cockroaches jumping into sewer water",
        "\"Chimpanzombi\"\n -  Icabod",
        "\"Fuckin' Bangin' Investigators!\"\n -  Icabod",
        "\"Part Skim, part Beeble\"\n -  Ed",
        "\"Such a cute dog\"\n - DM, in reference to a player's cat",
        "\"She has a big ass... greatsword\"\n - DM",
        "\"I know the only way to defeat it, is to kill it\"\n -  Sandor",
        "\"I call these... my Boots of Squeaky Boots\"\n -  Skim Beeble",
        "\"I see no reason why not to trust this creepy interdimensional being\"\n -  Sandor",
        "\"I think they (Rune's floors) are *squeaky* clean\"\n -  Icabod, the player with the Boots of Squeaky Boots",
        "\"Is it safe to assume dragons don't have crumple zones?\"\n -  Sandor",
        "\"Onlyfangs\"\n -  DM",
        "\"I don't believe in dragons\"\n -  Ed, a dragonborn",
        "\"I'm just a shitter and an eater\"\n - Gareb",
        "\"Meth addicts can *move*\"\n -  DM",
        "\"I'm a whore for castles\"\n -  Sandor",
        "\"Ash? That's better than ass\"\n - Gareb",
        "\"I think one of the upsides of drowning is that you don't die thirsty\"\n -  Sandor",
        "\"Grape juice damage\"\n -  DM",
        "\"You're an old ass bitch\"\n -  Sandor, to a dragon lord",
        "\"He's not chaotic-suicidal\"\n -  DM",
        "\"Remember, we're the good guys\"\n -  Gik, after beheading a pirate captain",
        "\"I eat silverware\"\n -  Gik",
        "\"I haven't killed anybody in 48 hours and I'm starting to shake\"\n - Gareb",
        "\"If you want your wife to come to you when you think of her, get her to eat human flesh and transform into a wendigo\" - Sandor",
        "\"Hey diddle diddle, right down the middle\"\n - Gareb",
        "\"Guoger and Gheoger\"\n - Sandor/Gik",
        "\"What are hit points but a currency for me to give you?\"\n - Ed",
        "\"Using the powerful, thick thighs you have\"\n - DM",
        "\"I'm not worried about people knowing about the undead curse. What are they gonna do, kill us?\"\n - Sandor",
        "\"I didn't need those (internal organs), they made me weak\"\n - Gik (formerly a human, now a warforged)",
        "\"Lump paladin\"\n - DM",
        "\"Let's consume\"\n - Gareb",
        "\"I am going to College of Creation a water bottle inside of you\" - Ed",
        "\"If you'll excuse me, I have to sign this man's wheel\"\n - Ichabod",
        "\"Diet beans\"\n - Ichabod",
        "\"If you value your breath, I would not go where you're going\" - NPC fortune teller\n\"I do not breath\" - Gik, a warforged",
        "\"Throw the sack\"\n - Ichabod",
        "\"Velocipastor\"\n - Sandor",
        "\"SUS ADDICT\"\n - Sandor",
        "\"Out of this bones\"\n - DM",
        "\"She's got the skeleton scaries!\"\n - Sandor",
        "\"This just became a target rich environment\"\n - Sandor (about to fireball)",
        "\"It's not that big of a deal, I can just die\"\n - Ed",
        "\"It (an elk) is going to kidnap the child\"\n - Ichabod",
        "\"I didn't go to bone school, I don't have a degree in boneology\"\n - Sandor",
        "\"Humans do bad things, but we also make ice, which is pretty neat\"\n - DM",
        "\"That one is like a dragon lizard, but this one is like a lizard lizard\"\n - Sandor",
        "\"I can make a candle taste like cheese\"\n - Sandor",
        "\"Yeees, desert crackhead\"\n - Ichabod",
        "\"I'm going to introduce this sand snake to some other fauna that exists in this world... or another\"\n - Sandor (right before summoning a demon)",
        "\"Snuts\"\n - Gik",
        "\"Can I get a glass of water?\"\n - Ichabod (after being almost eaten by a giant snake)",
        "\"I'm just scared of spaghetti\"\n - Sandor",
        "\"I'm going to need a lich and some volunteers\"\n - Sandor",
        "\"Does anyone have cholera\"\n - Ichabod",
        "\"He tried to hit me with a stick, so I assumed he knows what he's doing\"\n - DM"
    };

    protected override void OnInitialized()
    {
        _message = _quotes[_random.Next(_quotes.Length)];
    }

}
